@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: white;
}

.menu {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 120px 120px 150px 200px;
    margin-top: 70px;
}

.image-text img {
    width: 100%;
}

.image-text,
.hero-text {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    border: black solid;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-text p {
    font-size: 24px;
    color: #E5E7EB;
    margin: 0;
}

.hero-text button {
    font-size: 18px;
    font-weight: 900;
    background: #3882F6;
    color: #E5E7EB;
    padding: 15px 30px 15px 30px;
    border-radius: 1rem;
    border: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.main h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 90px;
    margin-left: 150px;
    margin-right: 180px;
    padding: 30px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    gap: 2px;
    width: 200px;
}

.card p {
    margin-left: 10px;
    margin-right: 10px;
}

.card div {
    border: #3882F6 solid;
    width: 150px;
    height: 150px;
    border-radius: 1rem;
}

.main .quotes {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quotes .quote_1 {
    width: 800px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote_1 span {
    font-weight: 900;
    font-size: 26px;
    display: flex;
    justify-content:flex-end;
    align-items: end;
    font-style: normal;
}

.cta_text h2, p{
    margin-bottom: 0;
    margin-top: 0;
}

.call_to_action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 1rem;
    background: #3882F6;
    color: #F9FAF8;
}


.signup_btn {
    margin-left: 180px;
}

.signup_btn button {
    display: inline;
    font-size: 18px;
    font-weight: 900;
    background: transparent;
    color: #E5E7EB;
    padding: 15px 30px 15px 30px;
    border-radius: 1rem;
    border: white solid;
}

footer {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 40px;
    color: #F9FAF8;
}
